# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
env/
pip-wheel-metadata/
*.log

# oura-tags-ical specific
config.py
tags.ics

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
